.filter {
  font-family: $font-family-heading;
  color: $gray;
  padding-top: 7rem;
  padding-bottom: 2rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;

  &__group {
    display: flex;
  }

  @media (min-width: 480px) {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    flex-direction: row;

    &__group {
      &:last-of-type {
        margin-left: .5rem;
      }
    }
  }

  select {
    margin-left: 0.5rem;
    margin-right: 1rem;
    display: inline;
  }

  .select-wrapper {
    position: relative;
  }

  .select-wrapper::after {
    content: '\0025BE';
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: $black;
    pointer-events: none;
  }
}

.dummy {
  position: absolute;
  left: -10000px;
}