.navigation {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__link {
    color: $white;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }

  &__item {
    margin-right: 1.75rem;
  }
}