.socials {
  line-height: 0;

  &__list {
    display: flex;
  }

  &__link {
    display: block;
  }

  &__image {
    width: 0.875rem;
    height: 0.875rem;
  }

  &__item+&__item {
    margin-left: 1.8rem;
  }
}