<div class="contact">
  <span class="contact__title">QUESTION? WE ARE HERE TO HELP!</span>

  <form class="contact__form" novalidate>
    <fieldset>
      <legend>Contact form</legend>
      <div class="contact__wrapper">
        <div class="input-container">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          <span class="contact__error contact__error--name" aria-live="error"></span>
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
          <span class="contact__error contact__error--email" aria-live="error"></span>
        </div>
      </div>
      <div class="input-container">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
        <span class="contact__error contact__error--message" aria-live="error"></span>
      </div>
    </fieldset>
    <input type="submit" value="Send">
  </form>

</div>