<div class="filter">
  <div class="filter__group">
    <label for="work">Show me</label>
    <select name="work">
      <option>all work</option>
      {% for work in projects %}
      <option>{{ work.category }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="filter__group">
    <label for="industry">in</label>
    <select>
      <option>all industries</option>
      {% for work in projects %}
      <option>{{ work.industry }}</option>
      {% endfor %}
    </select>
  </div>
</div>