<header class="header">
  <a class="skip-nav" href="#main">Skip to main content (press enter)</a>
  <div class="header__navigation">
    <div class="header__container">
      <a class="header__logo" href="/" title="Home">
        {% include 'components/logo.html' %}
      </a>
      {% include 'components/header/toggle.html' %}
    </div>
  </div>
  <div class="container">
    {% include 'components/header/title.html' %}
    {% include 'components/header/button.html' %}
  </div>
  {% include 'components/navigationModal.html' %}
</header>