// Colors
$black: #0e0e0e;
$black-dark: #000;
$white: #fff;

$gray-lightest: #f3f6f6;
$gray-light: #ddd;
$gray: #a3a3a3;
$gray-penumbra: #808080;
$gray-dark: #3e3e3e;
$gray-darkest: #272727;

$blue: #1a18f7;
$red: #ff2929;
$green: #15ad2c;

$extra: #dae1e1;

// Fonts
$font-size-root: 16px;
$font-family-body: Arial, sans-serif;
$font-family-heading: 'Teko', sans-serif;

// Spacing
$spacer: 1.25rem;

// Container
$container: calc(1200px + #{$spacer * 2});
$container-no-spacer: 1200px;

