h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
}
 
h1 {
  font-size: calc(170px + (310 - 170) * ((100vw - 480px) / (1200 - 480)));
  color: $black;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-size: 3.75rem;
  color: $black;
}

h3 {
  font-size: 1.875rem;
  color: $gray-dark;
}

a {
  font-family: $font-family-heading;
  text-decoration: none;
}
