
<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/bolcom.webp" type="image/webp">
      <source srcset="/images/bolcom.png" type="image/png">
      <img class="article__image" src="/images/bolcom.png" alt="bol.com">
    </picture>
    
    <span class="article__label">bol.com</span>
    <h3 class="article__title">A summer island in the Netherlands</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/kempen.webp" type="image/webp">
      <source srcset="/images/kempen.png" type="image/png">
      <img class="article__image" src="/images/kempen.png" alt="Kempen">
    </picture>
    
    <span class="article__label">Kempen</span>
    <h3 class="article__title">Not some average banking website</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/philips.webp" type="image/webp">
      <source srcset="/images/philips.png" type="image/png">
      <img class="article__image" src="/images/philips.png" alt="Philips">
    </picture>
    
    <span class="article__label">Philips</span>
    <h3 class="article__title">Beautiful design meets innovative technology</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/gemeentemuseum.webp" type="image/webp">
      <source srcset="/images/gemeentemuseum.png" type="image/png">
      <img class="article__image" src="/images/gemeentemuseum.png" alt="Gemeentemuseum">
    </picture>
    
    <span class="article__label">Gemeentemuseum</span>
    <h3 class="article__title">A 100 years of Mondriaan &amp; De Stijl</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <span class="article__label">Microsoft</span>
    <h3 class="article__title">Tapping into Ireland’s unique gaming culture and bringing a fresh flavour to their Xbox social media channels</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <span class="article__label">O&#39;Neil</span>
    <h3 class="article__title">Integrating existing content into O’Neill’s new e-commerce platform</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
