<main id="main">
  <div class="container">
    <div class="filter">
  <div class="filter__group">
    <label for="work">Show me</label>
    <div class="select-wrapper">
      <select name="work" id="work" tabindex="-1">
        <option>all work</option>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <option>commerce</option>
        
        <option>branding</option>
        
        <option>technology</option>
        
        <option>design</option>
        
        <option>strategy</option>
        
        <option>content</option>
        
        <option>marketing</option>
        
      </select>
    </div>
  </div>
  <div class="filter__group">
    <label for="industry">in</label>
    <div class="select-wrapper">
      <select name="industry" id="industry" tabindex="-1">
        <option>all industries</option>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        <option>retail</option>
        
        <option>finance</option>
        
        <option>utilities</option>
        
        <option>education</option>
        
        <option>b2b</option>
        
        <option>travel</option>
        
        <option>non-profit</option>
        
      </select>
    </div>
  </div>
</div>
    <div class="projects-container">
  <div class="projects__block projects__block--medium" data-animate data-animation-classes="animated fadeIn">
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: bol.com">
    
    <picture class="article__image">
      <source srcset="/images/lazy/bolcom.webp" data-srcset="/images/bolcom.webp"
        type="image/webp">
      <source srcset="/images/lazybolcom.jpg" data-srcset="/images/bolcom.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/bolcom.jpg"
        data-src="/images/bolcom.jpg" alt="bol.com">
    </picture>
    
    <span class="article__label">bol.com</span>
    <h3 class="article__title">A summer island in the Netherlands</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Kempen">
    
    <picture class="article__image">
      <source srcset="/images/lazy/kempen.webp" data-srcset="/images/kempen.webp"
        type="image/webp">
      <source srcset="/images/lazykempen.jpg" data-srcset="/images/kempen.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/kempen.jpg"
        data-src="/images/kempen.jpg" alt="Kempen">
    </picture>
    
    <span class="article__label">Kempen</span>
    <h3 class="article__title">Not some average banking website</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Philips">
    
    <picture class="article__image">
      <source srcset="/images/lazy/philips.webp" data-srcset="/images/philips.webp"
        type="image/webp">
      <source srcset="/images/lazyphilips.jpg" data-srcset="/images/philips.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/philips.jpg"
        data-src="/images/philips.jpg" alt="Philips">
    </picture>
    
    <span class="article__label">Philips</span>
    <h3 class="article__title">Beautiful design meets innovative technology</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Gemeentemuseum">
    
    <picture class="article__image">
      <source srcset="/images/lazy/gemeentemuseum.webp" data-srcset="/images/gemeentemuseum.webp"
        type="image/webp">
      <source srcset="/images/lazygemeentemuseum.jpg" data-srcset="/images/gemeentemuseum.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/gemeentemuseum.jpg"
        data-src="/images/gemeentemuseum.jpg" alt="Gemeentemuseum">
    </picture>
    
    <span class="article__label">Gemeentemuseum</span>
    <h3 class="article__title">A 100 years of Mondriaan &amp; De Stijl</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </div>
  <div class="projects__block projects__block--big projects__block--right" data-animate
    data-animation-classes="animated fadeIn">
    
    
    
    
    
    
    
    
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Florensis">
    
    <picture class="article__image">
      <source srcset="/images/lazy/florensis.webp" data-srcset="/images/florensis.webp"
        type="image/webp">
      <source srcset="/images/lazyflorensis.jpg" data-srcset="/images/florensis.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/florensis.jpg"
        data-src="/images/florensis.jpg" alt="Florensis">
    </picture>
    
    <span class="article__label">Florensis</span>
    <h3 class="article__title">Rethinking the entire online ecosystem</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <div class="projects__wrapper">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <article class="article">
  <a class="article__wrapper" href="#" title="Case: Microsoft">
    
    <span class="article__label">Microsoft</span>
    <h3 class="article__title">Tapping into Ireland’s unique gaming culture and bringing a fresh flavour to their Xbox social media channels</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
      
      
      
      
      
      <article class="article">
  <a class="article__wrapper" href="#" title="Case: O&#39;Neil">
    
    <span class="article__label">O&#39;Neil</span>
    <h3 class="article__title">Integrating existing content into O’Neill’s new e-commerce platform</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </div>
  </div>
  <div class="projects__block projects__block--small" data-animate data-animation-classes="animated fadeIn">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Be lightning">
    
    <picture class="article__image">
      <source srcset="/images/lazy/lightning.webp" data-srcset="/images/lightning.webp"
        type="image/webp">
      <source srcset="/images/lazylightning.jpg" data-srcset="/images/lightning.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/lightning.jpg"
        data-src="/images/lightning.jpg" alt="Be lightning">
    </picture>
    
    <span class="article__label">Be lightning</span>
    <h3 class="article__title">Delivering clarity on a global scale</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: TUI">
    
    <picture class="article__image">
      <source srcset="/images/lazy/tui.webp" data-srcset="/images/tui.webp"
        type="image/webp">
      <source srcset="/images/lazytui.jpg" data-srcset="/images/tui.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/tui.jpg"
        data-src="/images/tui.jpg" alt="TUI">
    </picture>
    
    <span class="article__label">TUI</span>
    <h3 class="article__title">Swipe to find your next holiday destination</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </div>
  <div class="projects__block projects__block--big projects__block--left" data-animate
    data-animation-classes="animated fadeIn">
    <div class="projects__wrapper">
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      <article class="article">
  <a class="article__wrapper" href="#" title="Case: Butlins">
    
    <span class="article__label">Butlins</span>
    <h3 class="article__title">Enhancing customer experience for personalised holiday planning using real time data</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
      
      
      
      
      
      <article class="article">
  <a class="article__wrapper" href="#" title="Case: Vacansesel">
    
    <span class="article__label">Vacansesel</span>
    <h3 class="article__title">Predicting booking behavior for holidays with smart data, voice search and machine learning</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
    </div>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Florensis">
    
    <picture class="article__image">
      <source srcset="/images/lazy/florensis.webp" data-srcset="/images/florensis.webp"
        type="image/webp">
      <source srcset="/images/lazyflorensis.jpg" data-srcset="/images/florensis.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/florensis.jpg"
        data-src="/images/florensis.jpg" alt="Florensis">
    </picture>
    
    <span class="article__label">Florensis</span>
    <h3 class="article__title">Rethinking the entire online ecosystem</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
  </div>
  <div class="projects__block projects__block--medium" data-animate data-animation-classes="animated fadeIn">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Chocomel">
    
    <picture class="article__image">
      <source srcset="/images/lazy/chocomel.webp" data-srcset="/images/chocomel.webp"
        type="image/webp">
      <source srcset="/images/lazychocomel.jpg" data-srcset="/images/chocomel.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/chocomel.jpg"
        data-src="/images/chocomel.jpg" alt="Chocomel">
    </picture>
    
    <span class="article__label">Chocomel</span>
    <h3 class="article__title">A campaign for the limited edition letter packs</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: JBL">
    
    <picture class="article__image">
      <source srcset="/images/lazy/jbl.webp" data-srcset="/images/jbl.webp"
        type="image/webp">
      <source srcset="/images/lazyjbl.jpg" data-srcset="/images/jbl.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/jbl.jpg"
        data-src="/images/jbl.jpg" alt="JBL">
    </picture>
    
    <span class="article__label">JBL</span>
    <h3 class="article__title">Live like a champion with Jerome Booteng</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Zalando">
    
    <picture class="article__image">
      <source srcset="/images/lazy/zalando.webp" data-srcset="/images/zalando.webp"
        type="image/webp">
      <source srcset="/images/lazyzalando.jpg" data-srcset="/images/zalando.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/zalando.jpg"
        data-src="/images/zalando.jpg" alt="Zalando">
    </picture>
    
    <span class="article__label">Zalando</span>
    <h3 class="article__title">Innovative SEO and content strategy for Zalando</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Koninklijke Bibliotheek">
    
    <picture class="article__image">
      <source srcset="/images/lazy/koninklijke-bibliotheek.webp" data-srcset="/images/koninklijke-bibliotheek.webp"
        type="image/webp">
      <source srcset="/images/lazykoninklijke-bibliotheek.jpg" data-srcset="/images/koninklijke-bibliotheek.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/koninklijke-bibliotheek.jpg"
        data-src="/images/koninklijke-bibliotheek.jpg" alt="Koninklijke Bibliotheek">
    </picture>
    
    <span class="article__label">Koninklijke Bibliotheek</span>
    <h3 class="article__title">The search for the most influential book ever</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    
    
    
  </div>
  <div class="quote-container">
  <div class="quote">
    <blockquote>
      “Dept helped us tell our story through a bold new identity and a robust online experience. To the tune of 60%
      growth in online bookings in just one month.”
    </blockquote>
    <cite>MATTIJS TEN BRINK – CEO, TRANSAVIA</cite>
  </div>
</div>
  <div class="projects__block projects__block--small" data-animate data-animation-classes="animated fadeIn">
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Liberty Global">
    
    <picture class="article__image">
      <source srcset="/images/lazy/liberty-global.webp" data-srcset="/images/liberty-global.webp"
        type="image/webp">
      <source srcset="/images/lazyliberty-global.jpg" data-srcset="/images/liberty-global.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/liberty-global.jpg"
        data-src="/images/liberty-global.jpg" alt="Liberty Global">
    </picture>
    
    <span class="article__label">Liberty Global</span>
    <h3 class="article__title">Delivering complex commerce solutions</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
    
    <article class="article">
  <a class="article__wrapper" href="#" title="Case: Arla">
    
    <picture class="article__image">
      <source srcset="/images/lazy/arla.webp" data-srcset="/images/arla.webp"
        type="image/webp">
      <source srcset="/images/lazyarla.jpg" data-srcset="/images/arla.jpg"
        type="image/jpg">
      <img class="article__image lazyload blur-up" src="/images/lazy/arla.jpg"
        data-src="/images/arla.jpg" alt="Arla">
    </picture>
    
    <span class="article__label">Arla</span>
    <h3 class="article__title">Swipe to find your next holiday destination</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>
    
    
  </div>
</div>
  </div>
  <section class="clients">
  <div class="container">
    <h2>Clients</h2>
    <p class="clients__description">We value a great working relationship with our clients above all else. It’s why they
      often come to our parties.
      It’s also why we’re able to challenge and inspire them to reach for the stars.</p>
    <div class="clients__images-container">
      
      <picture class="clients__image">
        <source srcset="/images/logos/abnamro.webp" type="image/webp">
        <source srcset="/images/logos/abnamro.png" type="image/png">
        <img class="clients__image" src="/images/logos/abnamro.png" alt="ABN Amro">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/adidas.webp" type="image/webp">
        <source srcset="/images/logos/adidas.png" type="image/png">
        <img class="clients__image" src="/images/logos/adidas.png" alt="Adidas">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/klm.webp" type="image/webp">
        <source srcset="/images/logos/klm.png" type="image/png">
        <img class="clients__image" src="/images/logos/klm.png" alt="KLM">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/microsoft.webp" type="image/webp">
        <source srcset="/images/logos/microsoft.png" type="image/png">
        <img class="clients__image" src="/images/logos/microsoft.png" alt="Microsoft">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/mona.webp" type="image/webp">
        <source srcset="/images/logos/mona.png" type="image/png">
        <img class="clients__image" src="/images/logos/mona.png" alt="Mona">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/nationalenederlanden.webp" type="image/webp">
        <source srcset="/images/logos/nationalenederlanden.png" type="image/png">
        <img class="clients__image" src="/images/logos/nationalenederlanden.png" alt="Nationale Nederlanden">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/nivea.webp" type="image/webp">
        <source srcset="/images/logos/nivea.png" type="image/png">
        <img class="clients__image" src="/images/logos/nivea.png" alt="Nivea">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/oxxio.webp" type="image/webp">
        <source srcset="/images/logos/oxxio.png" type="image/png">
        <img class="clients__image" src="/images/logos/oxxio.png" alt="Oxxio">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/pathe.webp" type="image/webp">
        <source srcset="/images/logos/pathe.png" type="image/png">
        <img class="clients__image" src="/images/logos/pathe.png" alt="Pathe">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/tomtom.webp" type="image/webp">
        <source srcset="/images/logos/tomtom.png" type="image/png">
        <img class="clients__image" src="/images/logos/tomtom.png" alt="TomTom">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/transavia.webp" type="image/webp">
        <source srcset="/images/logos/transavia.png" type="image/png">
        <img class="clients__image" src="/images/logos/transavia.png" alt="Transavia">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/triumph.webp" type="image/webp">
        <source srcset="/images/logos/triumph.png" type="image/png">
        <img class="clients__image" src="/images/logos/triumph.png" alt="Triumph">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/unilever.webp" type="image/webp">
        <source srcset="/images/logos/unilever.png" type="image/png">
        <img class="clients__image" src="/images/logos/unilever.png" alt="Unilever">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/walibi.webp" type="image/webp">
        <source srcset="/images/logos/walibi.png" type="image/png">
        <img class="clients__image" src="/images/logos/walibi.png" alt="Walibi">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/zalando.webp" type="image/webp">
        <source srcset="/images/logos/zalando.png" type="image/png">
        <img class="clients__image" src="/images/logos/zalando.png" alt="Zalando">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/ziggo.webp" type="image/webp">
        <source srcset="/images/logos/ziggo.png" type="image/png">
        <img class="clients__image" src="/images/logos/ziggo.png" alt="Ziggo">
      </picture>
      
    </div>
  </div>
</section>
  <div class="container">
    <div class="contact">
  <span class="contact__title">QUESTION? WE ARE HERE TO HELP!</span>

  <form class="contact__form" novalidate>
    <fieldset>
      <legend class="hidden">Contact form</legend>
      <div class="contact__wrapper">
        <div class="input-container">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" aria-required="true">
          <span class="contact__error contact__error--name" aria-live="error"></span>
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" aria-required="true">
          <span class="contact__error contact__error--email" aria-live="error"></span>
        </div>
      </div>
      <div class="input-container">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea aria-required="true">
        <span class="contact__error contact__error--message" aria-live="error"></span>
      </div>
    </fieldset>
    <input type="submit" value="Send">
  </form>

</div>
  </div>
</main>