<main>
  <div class="container">
    <div class="filter">
  <div class="filter__group">
    <label for="work">Show me</label>
    <select name="work">
      <option>all work</option>
      
      <option>commerce</option>
      
      <option>branding</option>
      
      <option>technology</option>
      
      <option>design</option>
      
      <option>marketing</option>
      
      <option>commerce</option>
      
    </select>
  </div>
  <div class="filter__group">
    <label for="industry">in</label>
    <select>
      <option>all industries</option>
      
      <option>retail &amp; fashion</option>
      
      <option>finance &amp; insurance</option>
      
      <option>utilities</option>
      
      <option>education</option>
      
      <option>non-profit</option>
      
      <option>retail &amp; fashion</option>
      
    </select>
  </div>
</div>
    <div class="projects-container">
  
<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/bolcom.webp" type="image/webp">
      <source srcset="/images/bolcom.png" type="image/png">
      <img class="article__image" src="/images/bolcom.png" alt="bol.com">
    </picture>
    
    <span class="article__label">bol.com</span>
    <h3 class="article__title">A summer island in the Netherlands</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/kempen.webp" type="image/webp">
      <source srcset="/images/kempen.png" type="image/png">
      <img class="article__image" src="/images/kempen.png" alt="Kempen">
    </picture>
    
    <span class="article__label">Kempen</span>
    <h3 class="article__title">Not some average banking website</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/philips.webp" type="image/webp">
      <source srcset="/images/philips.png" type="image/png">
      <img class="article__image" src="/images/philips.png" alt="Philips">
    </picture>
    
    <span class="article__label">Philips</span>
    <h3 class="article__title">Beautiful design meets innovative technology</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <picture class="article__image">
      <source srcset="/images/gemeentemuseum.webp" type="image/webp">
      <source srcset="/images/gemeentemuseum.png" type="image/png">
      <img class="article__image" src="/images/gemeentemuseum.png" alt="Gemeentemuseum">
    </picture>
    
    <span class="article__label">Gemeentemuseum</span>
    <h3 class="article__title">A 100 years of Mondriaan &amp; De Stijl</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <span class="article__label">Microsoft</span>
    <h3 class="article__title">Tapping into Ireland’s unique gaming culture and bringing a fresh flavour to their Xbox social media channels</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

<article class="article">
  <a class="article__wrapper" href="#">
    
    <span class="article__label">O&#39;Neil</span>
    <h3 class="article__title">Integrating existing content into O’Neill’s new e-commerce platform</h3>
    <span class="article__link" href="#">View case</span>
  </a>
</article>

</div>
    <div class="quote-container">
  <div class="quote">
    <blockquote>
      “Dept helped us tell our story through a bold new identity and a robust online experience. To the tune of 60%
      growth in online bookings in just one month.”
    </blockquote>
    <cite>MATTIJS TEN BRINK – CEO, TRANSAVIA</cite>
  </div>
</div>
  </div>
  <section class="clients">
  <div class="container">
    <h2>Clients</h2>
    <p class="clients__description">We value a great working relationship with our clients above all else. It’s why they
      often come to our parties.
      It’s also why we’re able to challenge and inspire them to reach for the stars.</p>
    <div class="clients__images-container">
      
      <picture class="clients__image">
        <source srcset="/images/logos/abnamro.webp" type="image/webp">
        <source srcset="/images/logos/abnamro.png" type="image/png">
        <img class="clients__image" src="/images/logos/abnamro.png" alt="ABN Amro">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/adidas.webp" type="image/webp">
        <source srcset="/images/logos/adidas.png" type="image/png">
        <img class="clients__image" src="/images/logos/adidas.png" alt="Adidas">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/klm.webp" type="image/webp">
        <source srcset="/images/logos/klm.png" type="image/png">
        <img class="clients__image" src="/images/logos/klm.png" alt="KLM">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/microsoft.webp" type="image/webp">
        <source srcset="/images/logos/microsoft.png" type="image/png">
        <img class="clients__image" src="/images/logos/microsoft.png" alt="Microsoft">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/mona.webp" type="image/webp">
        <source srcset="/images/logos/mona.png" type="image/png">
        <img class="clients__image" src="/images/logos/mona.png" alt="Mona">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/nationalenederlanden.webp" type="image/webp">
        <source srcset="/images/logos/nationalenederlanden.png" type="image/png">
        <img class="clients__image" src="/images/logos/nationalenederlanden.png" alt="Nationale Nederlanden">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/nivea.webp" type="image/webp">
        <source srcset="/images/logos/nivea.png" type="image/png">
        <img class="clients__image" src="/images/logos/nivea.png" alt="Nivea">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/oxxio.webp" type="image/webp">
        <source srcset="/images/logos/oxxio.png" type="image/png">
        <img class="clients__image" src="/images/logos/oxxio.png" alt="Oxxio">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/pathe.webp" type="image/webp">
        <source srcset="/images/logos/pathe.png" type="image/png">
        <img class="clients__image" src="/images/logos/pathe.png" alt="Pathe">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/tomtom.webp" type="image/webp">
        <source srcset="/images/logos/tomtom.png" type="image/png">
        <img class="clients__image" src="/images/logos/tomtom.png" alt="TomTom">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/transavia.webp" type="image/webp">
        <source srcset="/images/logos/transavia.png" type="image/png">
        <img class="clients__image" src="/images/logos/transavia.png" alt="Transavia">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/triumph.webp" type="image/webp">
        <source srcset="/images/logos/triumph.png" type="image/png">
        <img class="clients__image" src="/images/logos/triumph.png" alt="Triumph">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/unilever.webp" type="image/webp">
        <source srcset="/images/logos/unilever.png" type="image/png">
        <img class="clients__image" src="/images/logos/unilever.png" alt="Unilever">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/walibi.webp" type="image/webp">
        <source srcset="/images/logos/walibi.png" type="image/png">
        <img class="clients__image" src="/images/logos/walibi.png" alt="Walibi">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/zalando.webp" type="image/webp">
        <source srcset="/images/logos/zalando.png" type="image/png">
        <img class="clients__image" src="/images/logos/zalando.png" alt="Zalando">
      </picture>
      
      <picture class="clients__image">
        <source srcset="/images/logos/ziggo.webp" type="image/webp">
        <source srcset="/images/logos/ziggo.png" type="image/png">
        <img class="clients__image" src="/images/logos/ziggo.png" alt="Ziggo">
      </picture>
      
    </div>
  </div>
</section>
  <div class="container">
    <div class="contact">
  <span class="contact__title">QUESTION? WE ARE HERE TO HELP!</span>

  <form class="contact__form" novalidate>
    <fieldset>
      <legend>Contact form</legend>
      <div class="contact__wrapper">
        <div class="input-container">
          <label for="name">Name</label>
          <input type="text" name="name" id="name">
          <span class="contact__error contact__error--name" aria-live="error"></span>
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" name="email" id="email">
          <span class="contact__error contact__error--email" aria-live="error"></span>
        </div>
      </div>
      <div class="input-container">
        <label for="message">Message</label>
        <textarea name="message" id="message"></textarea>
        <span class="contact__error contact__error--message" aria-live="error"></span>
      </div>
    </fieldset>
    <input type="submit" value="Send">
  </form>

</div>
  </div>
</main>